<div class="d-flex p-2 justify-content-center">
    <div class="d-flex flex-column p-2 justify-content-center">
      <br/><br/>
      <div >
          <h3 class="display-4" style="text-align: center;">All requests:</h3>
      </div>
      <br/><br/>

      <h1>Pending</h1>
      <div class="d-flex flex-row flex-wrap p-2 justify-content-center">
        <div
          *ngFor="let p of pending"
          class="card border-primary mb-3"
          style="max-width: 20rem; max-height: 25rem; float: left; margin: 10px"
        >
          <div class="card-body">
            <h4 class="card-title">Ad ID: {{p.oglasId}}</h4>
            <p class="card-title">Date free: {{p.oglas.od | date: 'mediumDate'}} - {{p.oglas.doo | date: 'mediumDate'}}</p>
            <p class="card-title">Vehicle: {{p.oglas.vozilo.markaAutomobila.nazivMarke}} {{p.oglas.vozilo.klasaAutomobila.naziv}}</p>
            <p class="card-title">Status: {{p.status}}</p>
            <p class="card-title">Agent: {{p.oglas.vozilo.agent.name}} {{p.oglas.vozilo.agent.surname}}</p>
            <p class="card-title">Bundle ID: {{p.bundleId}}</p>
          </div>
        </div>
      </div>
      

      <h1>In Use</h1>
      <div class="d-flex flex-row flex-wrap p-2 justify-content-center">
        <div
          *ngFor="let pa of paid"
          class="card border-primary mb-3"
          style="max-width: 20rem; max-height: 25rem; float: left; margin: 10px"
        >
          <div class="card-body">
            <h4 class="card-title">Ad ID: {{pa.oglasId}}</h4>
            <p class="card-title">Date occupied: {{pa.oglas.od | date: 'mediumDate'}} - {{pa.oglas.doo | date: 'mediumDate'}}</p>
            <p class="card-title">Vehicle: {{pa.oglas.vozilo.markaAutomobila.nazivMarke}} {{pa.oglas.vozilo.klasaAutomobila.naziv}}</p>
            <p class="card-title">Status: {{pa.status}}</p>
            <p class="card-title">Agent: {{pa.oglas.vozilo.agent.name}} {{pa.oglas.vozilo.agent.surname}}</p>
            <p class="card-title">Bundle ID: {{pa.bundleId}}</p>
            <button type="button" class="btn btn-primary" (click)="posaljiPor(pa.oglas.userId)">Send message</button>
          </div>
        </div>
      </div>
      <br/><br/>


       <h1>Finished</h1>
      <div class="d-flex flex-row flex-wrap p-2 justify-content-center">
        <div
          *ngFor="let f of finished"
          class="card border-primary mb-3"
          style="max-width: 20rem; max-height: 25rem; float: left; margin: 10px"
        >
          <div class="card-body">
            <h4 class="card-title">Ad ID: {{f.oglasId}}</h4>
            <p class="card-title">Date was occupied: {{f.od | date: 'mediumDate'}} - {{f.doo | date: 'mediumDate'}}</p>
            <p class="card-title">Vehicle: {{f.oglas.vozilo.markaAutomobila.nazivMarke}} {{f.oglas.vozilo.klasaAutomobila.naziv}}</p>
            <p class="card-title">Status: {{f.status}}</p>
            <p class="card-title">Agent: {{f.oglas.vozilo.agent.name}} {{f.oglas.vozilo.agent.surname}}</p>
            <p class="card-title">Bundle ID: {{f.bundleId}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>